@model IEnumerable<SSLazio.Models.News>

@{
    ViewBag.Title = "Index";
}

<style>
    a:hover{
        text-decoration: none;
    }
</style>

<h2 class="text-center my-4">News</h2>

@if (User.IsInRole("Admin")) { 
<button class="ssl-button my-3 d-flex">
    @Html.ActionLink("Aggiungi News", "Create", null, new { @class = "text-white text-decoration-none" })
</button>
}


<div class="container container-fluid">
    @foreach (var item in Model)
    {
        <a class="text-blu bordobianco text-decoration-none" href="@Url.Action("Details", "News", new { id = item.IDNews })">
            <div class="card bg-dark text-white my-5">
                <img class="card-img object-fit-cover" src="@Url.Content("~/Content/News/" + item.ImgNews)" alt="News image">
                <div class="card-img-overlay">
                    <p class="card-title h1">@Html.DisplayFor(modelItem => item.TitoloNews)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Sottotitolo)</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                    @if (User.IsInRole("Admin"))
                {

                    <div class="my-5">
                        <button class="button1 shadow">
                            <a href="@Url.Action("Edit", new { id = item.IDNews })" class="text-blu text-decoration-none" style="text-decoration: none;">
                                Modifica
                            </a>
                        </button>
                        <button class="button1 shadow">
                            <a href="@Url.Action("Delete", new { id = item.IDNews })" class="text-blu text-decoration-none" style="text-decoration: none;">
                                Elimina
                            </a>
                        </button>                      
                    </div>
                }

                </div>
            </div>
        </a>
    }
</div>

