@model IEnumerable<SSLazio.Models.SettoriStadio>

@{
    ViewBag.Title = "Index";
}

<h2 class="my-5">Lista Settori Biglietteria</h2>

<button class="ssl-button mb-3 d-flex justify-content-center">
    @Html.ActionLink("Create New", "Create", null, new { @class = "text-white text-decoration-none" })
</button>

<table class="table text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Partite.NomePartita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeSettore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ridotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostiDisponibili)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Partite.NomePartita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeSettore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ridotto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostiDisponibili)
        </td>
        <td>
            <div class="d-flex flex-column">


                <button class="ssl-button text-white shadow">
                    <a href="@Url.Action("Edit", new { id = item.IdSettore })" class="text-blu bordobianco text-decoration-none" style="text-decoration: none;">
                        Modifica
                    </a>
                </button>
                <button class="ssl-button text-white shadow my-2">
                    <a href="@Url.Action("Details", new { id = item.IdSettore })" class="text-blu bordobianco text-decoration-none" style="text-decoration: none;">
                        Dettagli
                    </a>
                </button>
                <button class="ssl-button text-white shadow">
                    <a href="@Url.Action("Delete", new { id = item.IdSettore })" class="text-blu bordobianco text-decoration-none" style="text-decoration: none;">
                        Elimina
                    </a>
                </button>
            </div>
        </td>
    </tr>
}

</table>
