@model SSLazio.Models.Biglietti

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Biglietti</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partite.NomePartita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partite.NomePartita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SettoriStadio.NomeSettore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SettoriStadio.NomeSettore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utenti.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utenti.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuogoNascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuogoNascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Residenza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residenza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Riduzione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Riduzione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCarta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCarta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intestatario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intestatario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scadenza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scadenza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cvc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cvc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailDestinatario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailDestinatario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
