@model IEnumerable<SSLazio.Models.Biglietti>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Partite.NomePartita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SettoriStadio.NomeSettore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utenti.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuogoNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Riduzione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Partite.NomePartita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SettoriStadio.NomeSettore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utenti.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodiceFiscale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuogoNascita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Riduzione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdBiglietto }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdBiglietto }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdBiglietto })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdBiglietto }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdBiglietto }) 
            </td>
        }
    </tr>
}

</table>
