@model IEnumerable<SSLazio.Models.SettoriAbb>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeSettore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Under16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aquilotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostiDisponibili)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeSettore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Intero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Under16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aquilotto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostiDisponibili)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdSettoreAbb }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdSettoreAbb }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdSettoreAbb })
        </td>
    </tr>
}

</table>
