@model IEnumerable<SSLazio.Models.Abbonamenti>

@{
    ViewBag.Title = "Index";
}

@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMessage" class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}


@if (User.IsInRole("Admin"))
{
    <h2 class="text-center my-5">Lista Abbonamenti</h2>
}
else
{
    <h2 class="text-center my-5">Il tuo Abbonamento</h2>
}


@foreach (var item in Model)
{
    <div class="container-fluid text-blu">
        <div class="row justify-content-center justify-content-lg-evenly align-items-center">
            @*-----------------------------------------------------------*@
            <div class="col-12 col-lg-6 mb-3 mb-lg-5">
                <div class="row justify-content-center">
                    <a href="@Url.Action("Details", "Abbonamenti", new { id = item.IdAbbonamento })" class="text-blu text-decoration-none">
                        <div class="col-10 col-lg-12 col-xl-10">
                            <div class="card">
                                <div class="row align-items-center">
                                    <div class="col-3 d-flex justify-content-center ps-5">
                                        <img src="@Url.Content("~/Content/Profili/" + item.ImgAbbonato)" alt="img Abbonato" width="90" class="mt-2" />
                                    </div>
                                    <div class="col-7">
                                        <p class="h4 text-center">Abbonamento 23/24</p>
                                    </div>
                                    <div class="col-2 d-flex justify-content-center">
                                        <img src="~/Content/Team/Logo80.png" alt="logo lazio" width="50" height="50" />
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-around align-items-center">
                                    <div class="col-5 mt-4">
                                        <div>
                                            <strong>
                                                @Html.DisplayFor(modelItem => item.Nome)
                                            </strong>
                                        </div>
                                        <div class="mb-2">
                                            <strong>
                                                @Html.DisplayFor(modelItem => item.Cognome)
                                            </strong>
                                        </div>
                                        <p class="my-1">Nato il: @Html.DisplayFor(modelItem => item.DataNascita)</p>
                                        <p class="my-1">a: @Html.DisplayFor(modelItem => item.LuogoNascita)</p>
                                        <p class="my-1">Data Emissione: @Html.DisplayFor(modelItem => item.DataPagamento)</p>
                                    </div>
                                    <div class="col-5">
                                        <img src="~/Content/PartiteLogo/AccessoStadio.jpg" alt="AccessoStadio" class="img-fluid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            @*-----------------------------------------------------------*@
            <div class="col-12 col-lg-6 mb-5">
                <div class="row justify-content-center">
                    <div class="col-10 d-flex justify-content-center">
                        <img src="~/Content/Profili/Millenovcento.png" alt="Millenovcento" class="img-fluid" width="450" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @if (User.IsInRole("Admin"))
            {
                <div class="col-6 d-flex justify-content-center my-3">
                    <button class="ssl-button text-white shadow">
                        <a href="@Url.Action("Edit", new { id = item.IdAbbonamento })" class="text-blu bordobianco text-decoration-none" style="text-decoration: none;">
                            Modifica
                        </a>
                    </button>
                </div>
                <div class="col-6 d-flex justify-content-center my-3">
                    <button class="ssl-button text-white shadow">
                        <a href="@Url.Action("Delete", new { id = item.IdAbbonamento })" class="text-blu bordobianco text-decoration-none" style="text-decoration: none;">
                            Elimina
                        </a>
                    </button>
                </div>
            }
        </div>
    </div>
    <hr class="mb-3" />
}


@section scripts {
    <script>
        $(document).ready(function () {
            var errorMessage = '@(TempData["ErrorMessage"])';
            if (errorMessage) {
                alert(errorMessage);
                // Puoi anche utilizzare altre librerie/modalità per popup, come Bootstrap Modal
                // Mostra il messaggio con un popup di Bootstrap modal:
                // $('#errorMessageModal').modal('show');
            }
        });
    </script>
}