@model SSLazio.Models.Trophies

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Trophies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImgTrofeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgTrofeo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgSquadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgSquadra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeTrofeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeTrofeo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnoTrofeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnoTrofeo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Formazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formazione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgDettaglio1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgDettaglio1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgDettaglio2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgDettaglio2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgDettaglio3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgDettaglio3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImgDettaglio4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgDettaglio4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextDetail1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextDetail1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextDetail2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextDetail2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextDetail3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextDetail3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextDetail4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextDetail4)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
