@using SSLazio.Models;
@{
    var cart = Session["cart"] as List<Prodotti>;
    int? badge = 0;

    // Verifica se cart è null prima di iterare
    if (cart != null)
    {
        foreach (var item in cart)
        {
            // Verifica se item è null prima di accedere a Quantita
            if (item != null)
            {
                badge += item.Quantita ?? 0;
            }
        }
    }

   
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .p-badge {
            height: 15px;
            width: 15px;
            text-align: center;
            padding-top: 0;
            font-size: 12px;
            margin-left: -8px;
            margin-right: -7px;
        }

        footer p {
            margin-bottom: 0;
            text-decoration: underline
        }

        .mt-footer {
            margin-top: 15rem !important;
        }
    </style>
</head>



<body>

    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-dark sticky-top" style="padding:0; background: linear-gradient(to bottom right, #a38d37, #f5f5f5); ">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">
                <img src="@Url.Content("~/Content/Team/Logo80.png")" alt="Logo" height="50" width="50" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Team
                            </a>
                            <ul class="dropdown-menu bg-goldwhite" aria-labelledby="navbarDropdown">
                                <li> @Html.ActionLink("Squadra Maschile", "Index", "Calciatori", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                <li> @Html.ActionLink("Squadra Femminile", "Index", "Calciatrici", new { area = "" }, new { @class = "dropdown-item1 text-white" })</li>
                                <li><a class="dropdown-item1 text-white" href="#">Primavera</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Club
                            </a>
                            <ul class="dropdown-menu bg-goldwhite" aria-labelledby="navbarDropdown1">
                                <li></li>
                                <li> @Html.ActionLink("Storia", "Index", "Memories", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                <li> @Html.ActionLink("Trofei", "Index", "Trophies", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                <li> @Html.ActionLink("Organizzazione", "Index", "Organigramma", new { area = "" }, new { @class = "dropdown-item1 text-white" })</li>
                                <li> @Html.ActionLink("Info & Contatti", "Index", "Contatti", new { area = "" }, new { @class = "dropdown-item1 text-white" })</li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                News
                            </a>
                            <ul class="dropdown-menu bg-goldwhite" aria-labelledby="navbarDropdown2">
                                <li></li>
                                <li> @Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "dropdown-item1 text-white" })</li>
                                <li> @Html.ActionLink("Comunicazioni", "Index", "Communications", new { area = "" }, new { @class = "dropdown-item1 text-white" })</li>

                            </ul>
                        </li>
                        @*
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Casa Lazio
                                </a>
                                <ul class="dropdown-menu bg-goldwhite" aria-labelledby="navbarDropdown">
                                    <li></li>
                                    <li><a class="dropdown-item1" href="#">Training Center SSL</a></li>
                                    <li><a class="dropdown-item1" href="#">Iscrizioni Settore Giovanile</a></li>
                                    <li><a class="dropdown-item1" href="#">Camp Estivi</a></li>
                                </ul>
                            </li>
                        *@
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Stadio
                            </a>
                            <ul class="dropdown-menu bg-goldwhite" aria-labelledby="navbarDropdown5">
                                <li> @Html.ActionLink("Biglietti", "Index", "Partite", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                <li> @Html.ActionLink("Abbonamenti", "Index", "SettoriAbb", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Index", "Prodotti")">Shop</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Team
                            </a>
                            <ul class="dropdown-menu bg-goldwhite" aria-labelledby="navbarDropdown">
                                <li> @Html.ActionLink("Squadra Maschile", "Index", "Calciatori", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                <li> @Html.ActionLink("Squadra Femminile", "Index", "Calciatrici", new { area = "" }, new { @class = "dropdown-item1 text-white" })
                                <li><a class="dropdown-item1 text-white" href="#">Primavera</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Club
                            </a>
                            <ul class="dropdown-menu bg-goldwhite" aria-labelledby="navbarDropdown">
                                <li></li>
                                <li> @Html.ActionLink("Storia", "Index", "Memories", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                <li> @Html.ActionLink("Trofei", "Index", "Trophies", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                <li> @Html.ActionLink("Organizzazione", "Index", "Organigramma", new { area = "" }, new { @class = "dropdown-item1 text-white" })</li>
                                <li> @Html.ActionLink("Info & Contatti", "Index", "Contatti", new { area = "" }, new { @class = "dropdown-item1 text-white" })</li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                News
                            </a>
                            <ul class="dropdown-menu bg-goldwhite" aria-labelledby="navbarDropdown">
                                <li></li>
                                <li> @Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "dropdown-item1 text-white" })</li>
                                <li> @Html.ActionLink("Comunicazioni", "Index", "Communications", new { area = "" }, new { @class = "dropdown-item1 text-white" })</li>
                            </ul>
                        </li>
                        @*
                            <li class="nav-item dropdown">
                                <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Casa Lazio
                                </a>
                                <ul class="dropdown-menu bg-goldwhite" aria-labelledby="navbarDropdown">
                                    <li></li>
                                    <li><a class="dropdown-item1" href="#">Training Center SSL</a></li>
                                    <li><a class="dropdown-item1" href="#">Iscrizioni Settore Giovanile</a></li>
                                    <li><a class="dropdown-item1" href="#">Camp Estivi</a></li>
                                </ul>
                            </li>
                        *@
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Stadio
                            </a>
                            <ul class="dropdown-menu bg-goldwhite" aria-labelledby="navbarDropdown">
                                <li>@Html.ActionLink("Biglietti", "Index", "Partite", new { area = "" }, new { @class = "dropdown-item1 text-white" })</li>
                                <li> @Html.ActionLink("Abbonamenti", "Index", "SettoriAbb", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                @if (User.IsInRole("Tifoso"))
                                {
                                    <li> @Html.ActionLink("Cambio Nominativo", "Index", "Biglietti", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                    <li> @Html.ActionLink("Il Tuo Abbonamento", "Index", "Abbonamenti", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>

                                }
                                @if (User.IsInRole("Admin"))
                                {
                                    <li> @Html.ActionLink("Cambio Nominativo", "Index", "Biglietti", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>
                                    <li> @Html.ActionLink("Il Tuo Abbonamento", "Index", "Abbonamenti", new { area = "" }, new { @class = "dropdown-item1 text-white" }) </li>

                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("Index", "Prodotti")">Shop</a>
                        </li>
                    }

                </ul>
                <form class="d-flex">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a class="navbar-brand" href="@Url.Action("Login", "Utenti", new { area = "" })" title="Login">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 24 24"
                                 width="35"
                                 height="35">
                                <defs>
                                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                        <stop offset="0%" style="stop-color: #61c8e7;" />
                                        <stop offset="100%" style="stop-color: #FFFFFF;" />
                                    </linearGradient>
                                </defs>
                                <path fill="url(#gradient)"
                                      stroke="#396ba4"
                                      stroke-width="0.5"
                                      d="M12 2c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5m0 11c2.67 0 8 1.34 8 4v2H4v-2c0-2.66 5.33-4 8-4z"></path>
                            </svg>
                        </a>
                        if (badge != 0)
                        {
                            <b class="text-white bg-primary p-badge rounded-circle">@badge</b>
                        }
                        <a class="navbar-brand" href="@Url.Action("Index", "Carrello", new { area = "" })" title="Carrello">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="30">
                                <defs>
                                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                        <stop offset="0%" style="stop-color: #61c8e7;" />
                                        <stop offset="100%" style="stop-color: #FFFFFF;" />
                                    </linearGradient>
                                </defs>
                                <path fill="url(#gradient)" stroke="#396ba4" stroke-width="3" d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z" />
                            </svg>

                        </a>


                    }
                    else
                    {


                        <a class="navbar-brand" href="@Url.Action("Index", "Utenti", new { area = "" })" title="Area Personale">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 24 24"
                                 width="35"
                                 height="35">
                                <defs>
                                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                        <stop offset="0%" style="stop-color: #61c8e7;" />
                                        <stop offset="100%" style="stop-color: #FFFFFF;" />
                                    </linearGradient>
                                </defs>
                                <path fill="url(#gradient)"
                                      stroke="#396ba4"
                                      stroke-width="0.5"
                                      d="M12 2c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5m0 11c2.67 0 8 1.34 8 4v2H4v-2c0-2.66 5.33-4 8-4z"></path>
                            </svg>
                        </a>
                        if (badge != 0)
                        {
                            <b class="text-white bg-primary p-badge rounded-circle">@badge</b>
                        }
                        <a class="navbar-brand me-4" href="@Url.Action("Index", "Carrello", new { area = "" })" title="Carrello">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="30">
                                <defs>
                                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                        <stop offset="0%" style="stop-color: #61c8e7;" />
                                        <stop offset="100%" style="stop-color: #FFFFFF;" />
                                    </linearGradient>
                                </defs>
                                <path fill="url(#gradient)" stroke="#396ba4" stroke-width="3" d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z" />
                            </svg>

                        </a>

                        <a class="navbar-brand" href="@Url.Action("Logout", "Utenti", new { area = "" })" title="Logout">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 512 512"
                                 width="30"
                                 height="30">

                                <defs>
                                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="100%">
                                        <stop offset="0%" style="stop-color: #61c8e7;" />
                                        <stop offset="100%" style="stop-color: #FFFFFF;" />
                                    </linearGradient>
                                </defs>
                                <path fill="url(#gradient)"
                                      stroke="#396ba4"
                                      stroke-width="3"
                                      d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" />
                            </svg>

                        </a>
                    }
                </form>
            </div>
        </div>
    </nav>
    <div class="container body-content" style="min-height:800px">
        @RenderBody()
        <hr class="mt-footer"/>
        <footer>
            <p class="mb-5 text-decoration-none">&copy; @DateTime.Now.Year - Società Sportiva Lazio - Roma (RM)</p>
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <img src="~/Content/Negozio/Mizuno-Lazio.png" alt="Sponsor" width="350" height="200" class="img-fluid"/>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row justify-content-center">
                            <div class="col-3">
                                <strong>News</strong>
                                <p>@Html.ActionLink("News", "Index", "News", new { area = "" }, new { @class = "text-white" })</p>
                                <p class="text-white mb-3">Comunicazioni</p>
                                <strong>Shop</strong>
                                <p>@Html.ActionLink("SS Lazio Store", "Index", "Prodotti", new { area = "" }, new { @class = "text-white" })</p>
                            </div>
                            <div class="col-3">
                                <strong class="text-white">Team</strong>
                                <p>@Html.ActionLink("Squadra Maschile", "Index", "Calciatori", new { area = "" }, new { @class = "text-white" })</p>
                                <p>@Html.ActionLink("Squadra Maschile", "Index", "Calciatrici", new { area = "" }, new { @class = "text-white" })</p>
                                <p class="text-white">Squadra Primavera</p>
                            </div>
                            <div class="col-3">
                                <strong>Club</strong>
                                <p class="text-white">Storia</p>
                                <p class="text-white">Trofei</p>
                                <p class="text-white">Organigramma</p>
                            </div>
                            <div class="col-3">
                                <strong>Stadio</strong>
                                <p>@Html.ActionLink("Biglietteria", "Index", "Partite", new { area = "" }, new { @class = "text-white" })</p>
                                <p>@Html.ActionLink("Abbonamenti", "Index", "SettoriAbb", new { area = "" }, new { @class = "text-white" })</p>
                                <p>@Html.ActionLink("Cambio Nominativo", "Index", "Biglietti", new { area = "" }, new { @class = "text-white" })</p>
                                <p>@Html.ActionLink("Il tuo Abbonamento", "Index", "Abbonamenti", new { area = "" }, new { @class = "text-white" })</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
