@model SSLazio.Models.Communications

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Communications</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitoloCom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitoloCom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenuto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenuto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataComunicazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataComunicazione)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgComunicazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgComunicazione)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
